# Bzlmod for dependencies.
common --experimental_enable_bzlmod
common --registry=https://raw.githubusercontent.com/rendezqueue/rendezqueue_bazel_registry/trunk
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main

# Development.
#build:linux_dev_platform --cxxopt='-std=c++17'
build:linux_dev_platform --copt=-march=native

# --config=clang
build:clang --action_env=CC=clang --action_env=CXX=clang++

# --config=libfuzzer
build:libfuzzer --config=clang
build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer

# --config=asan-libfuzzer
build:asan-libfuzzer --config=libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan
